body {
  margin: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin-left: 10px;
  margin-right: 10px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
